{% extends 'base.html' %}

{% block content %}
<h1>Adicionar Carro</h1>
<form action="{% url 'update_car' car.id %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <div class="col-auto">
          <label for="vehicle_name" class="col-form-label">Nome do veiculo</label>
        </div>
        <div class="col-auto">
          <input type="text" id="vehicle_name" name="vehicle_name" class="form-control" aria-describedby="name", placeholder="Mobi, Corsa, HB20..." value="{{car.vehicle_name}}">
        </div>
    </div>
    <div class="mb-3">
      <label for="category"> Categoria </label>
      <select class="form-select" name="category" aria-label="Categoria">
        <option name="category" value="hatch" {% if car.category == 'hatch' %}selected{% endif %}>Hatch</option>
        <option name="category" value="sedan" {% if car.category == 'sedan' %}selected{% endif %}>Sedan</option>
        <option name="category" value="convertible" {% if car.category == 'convertible' %}selected{% endif %}>Convertible</option>
      </select>
    </div>
    <div class="mb-3">
      <div class="col-auto">
        <label for="brand" class="col-form-label">Marca</label>
      </div>
      <div class="col-auto">
        <input type="text" id="brand" name="brand" class="form-control" aria-describedby="brand" placeholder="Chevrolet, Ford, Honda..." value="{{car.brand}}">
      </div>
    </div>
    <div class="mb-3">
      <label for="color">Cor</label>
      <select class="form-select" name="color" aria-label="Categoria">
        <option value="yellow" {% if car.color == 'yellow' %}selected{% endif %}>Amarelo</option>
        <option value="blue" {% if car.color == 'blue' %}selected{% endif %}>Azul</option>
        <option value="gray" {% if car.color == 'gray' %}selected{% endif %}>Cinza</option>
      </select>
    </div>
    <br/>
    <button type="submit" class="btn btn-success">Adicionar carro</button>
</form>
    
{% endblock content %}

    